/*
 * index.css
 */

html,body,div[data-role ="page"], div[data-role="content"] {background: #2A2A2A;}
.ui-overlay-a{background: #2A2A2A;}
.ui-overlay-b{background: #2A2A2A;}
.ui-overlay-c{background: #2A2A2A;}
.ui-overlay-d{background: #2A2A2A;}
.ui-overlay-e{background: #2A2A2A;}



.ui-header .ui-title {
    font-size: 1.3em;
    text-overflow: clip;
    white-space: normal;
}

.ui-header {
    height: 64px;
}

.ui-header .ui-title{
    padding: 0px;
    vertical-align: middle;
}
.ui-content {
    padding: 0px;
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}



.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}



.center {
    text-align:center;
}

.left {
    text-align:left;
}

.right {
    text-align:right;
}





// Formatação das listas ----
li.ui-li-divider {
    text-align: center !important;
}

li{
    margin-top: 10px !important;
}
ul{
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
}

.ui-listview > .ui-li-static {
    border-style: none;
    padding-top: 0px;
    padding-bottom: 0px;
}





// nav footer
.nav-footer .ui-btn { padding-top: 40px !important; }
.nav-footer .ui-btn:after { width: 30px!important; height: 30px!important; margin-left: -15px !important; box-shadow: none!important; -moz-box-shadow: none!important; -webkit-box-shadow: none!important; -webkit-border-radius: 0 !important; border-radius: 0 !important; }
#a-definicoes:after { background:  url("../img/ic_menu_settings.png") 50% 50% no-repeat; background-size: 30px 30px; }
#a-lista-estacoes:after { background:  url("../img/ic_menu_database.png") 50% 50% no-repeat; background-size: 30px 30px; }
#a-dados:after { background:  url("../img/ic_menu_chart.png") 50% 50% no-repeat; background-size: 30px 30px; }
#a-localizacao:after { background:  url("../img/ic_menu_flag.png") 50% 50% no-repeat; background-size: 30px 30px; }



//div estação activa
.div-estacao-ativa { 
    padding-left: 50px;
}